{% extends "base.html" %}

{% block content %}

<form method="POST">
  {{ form.csrf_token }}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning" role="alert">
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endwith %}
  <div class="form-group">
    {{ form.content(class="form-control",placeholder="Seu toilt..")}}
      {% if form.errors.content %}
      <div class="alert alert-danger" role="alert">
        <ul>
        {% for e in form.errors.content %}
          <li>{{ e }}</li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    {{form.submit(class="btn btn-primary")}}
  </form>
<p> </p>
{% if twits %}
{% for twit in twits %}
<div class="media">
  <div class="media-left">
    <a href="#">
    </a>
  </div>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ twit.name }}
    <a href=/twitero/{{twit.id}}><small>@{{ twit.name }}</small></a></h4>
    {{twit.content}}
  </div>
{% endfor %}
{% else %}
	<div class="alert alert-warning" role="alert">No Twits!</div>
{% endif %}

{% endblock %}
